# AddressTagger

**AddressTagger** allows us to tag addresses on a **Text** object and extract the street name, house number, zip code, town, and county from the text.

## Usage

In [8]:
from estnltk.taggers import AddressPartTagger, AddressGrammarTagger
from estnltk import Text

Tagging addresses is done in two steps: first, the parts are tagged with **AddressPartTagger**, then the parts are joined into addresses with **AddressGrammarTagger**.

In [9]:
part_tagger = AddressPartTagger()

In [10]:
grammar_tagger = AddressGrammarTagger()

To tag addresses, the text needs to be segmented into words:

In [11]:
t = Text('Rävala 5, Tallinn').tag_layer(['words'])

In [12]:
part_tagger.tag(t)

Text(text="Rävala 5, Tallinn")

In [13]:
grammar_tagger.tag(t)

Text(text="Rävala 5, Tallinn")

In [14]:
t.addresses

Layer(name=addresses, spans=SL[ES[AS[Span(Rävala, {'grammar_symbol': 'TÄNAV', 'type': 'tänav'}),
Span(Rävala, {'grammar_symbol': 'TALU', 'type': 'talu'})],
AS[Span(5, {'grammar_symbol': 'MAJA', 'type': None})],
AS[Span(Tallinn, {'grammar_symbol': 'ASULA', 'type': 'asula'})]]])

In [15]:
t.TÄNAV

['Rävala']

In [16]:
t.MAJA

['5']

In [17]:
t.ASULA

['Tallinn']