# MergeTagger

In [1]:
from estnltk import Text
from estnltk.layer import Layer
from estnltk.spans import Span
from estnltk.taggers.merge_tagging.merge_tagger import MergeTagger

In [2]:
text = Text('Tere, maailm!')

layer = Layer(name='test_1',
              attributes=['attr_1']
             )
span = Span(start=0, end=5)
span.attr_1 = 'TERE'
layer.add_span(span)

span = Span(start=6, end=12)
span.attr_1 = 'MAAILM'
layer.add_span(span)

span = Span(start=6, end=12)
span.attr_1 = 'MaaIlm'
layer.add_span(span)

text['test_1'] = layer
text.test_1

SL[Span(Tere,, {'attr_1': 'TERE'}),
Span(maailm, {'attr_1': 'MAAILM'}),
Span(maailm, {'attr_1': 'MaaIlm'})]

In [3]:
layer = Layer(name='test_2',
              attributes=['attr_2']
              )
span = Span(start=0, end=5)
span.attr_2 = 'tere'
layer.add_span(span)

span = Span(start=6, end=9)
span.attr_2 = 'MAA'
layer.add_span(span)

span = Span(start=9, end=12)
span.attr_2 = 'ILM'
layer.add_span(span)

text['test_2'] = layer
text.test_2

SL[Span(Tere,, {'attr_2': 'tere'}),
Span(maa, {'attr_2': 'MAA'}),
Span(ilm, {'attr_2': 'ILM'})]

In [4]:
merge_tagger = MergeTagger('merged', input_layers=['test_1', 'test_2'], attributes=['attr_1','attr_2'])
merge_tagger

In [5]:
merge_tagger.tag(text)
text

Text(text="Tere, maailm!")

In [6]:
text.merged

SL[Span(Tere,, {'attr_2': None, 'attr_1': 'TERE'}),
Span(Tere,, {'attr_2': 'tere', 'attr_1': None}),
Span(maa, {'attr_2': 'MAA', 'attr_1': None}),
Span(maailm, {'attr_2': None, 'attr_1': 'MAAILM'}),
Span(maailm, {'attr_2': None, 'attr_1': 'MaaIlm'}),
Span(ilm, {'attr_2': 'ILM', 'attr_1': None})]