# Vocabulary
Vocabulary methods are used by dict_taggers and for creating custom vocabularies.

In [1]:
from estnltk.taggers import read_vocabulary
from estnltk.taggers.dict_taggers.vocabulary import csv_to_records, records_to_df

read_vocabulary('span_vocabulary.csv', '_token_', string_attributes=['_token_'])

{'inimene': [{}], 'päike': [{}], 'tundma': [{}]}

In [2]:
records = csv_to_records('span_vocabulary.csv')
records

[{'_priority_': 1, '_token_': 'tundma', 'value': 'T'},
 {'_priority_': 2, '_token_': 'päike', 'value': 'P'},
 {'_priority_': 3, '_token_': 'inimene', 'value': 'I'}]

In [3]:
df = records_to_df(records)
df

   _priority_  _token_ value
0           1   tundma     T
1           2    päike     P
2           3  inimene     I

In [4]:
df

   _priority_  _token_ value
0           1   tundma     T
1           2    päike     P
2           3  inimene     I