In [1]:
from estnltk.taggers import RegexTagger, SpanTagger, PhraseTagger
import re
from estnltk.finite_grammar import Rule, Grammar
from estnltk.taggers import Tagger
from estnltk.taggers import Atomizer
from estnltk.taggers import MergeTagger, GapTagger
from estnltk.taggers import GrammarParsingTagger
from estnltk.taggers import AddressPartTagger, AddressGrammarTagger
from estnltk import Text
import csv

In [2]:
part_tagger = AddressPartTagger()

In [3]:
grammar_tagger = AddressGrammarTagger()

In [4]:
t = Text('Rävala 5, Tallinn').tag_layer(['words'])

In [5]:
part_tagger.tag(t)

Text(text="Rävala 5, Tallinn")

In [6]:
grammar_tagger.tag(t)

Text(text="Rävala 5, Tallinn")

In [7]:
t.addresses

Layer(name=addresses, spans=SL[SL[Span(Rävala, {'grammar_symbol': 'TÄNAV', 'type': 'tänav'}),
Span(5, {'grammar_symbol': 'MAJA', 'type': None}),
Span(Tallinn, {'grammar_symbol': 'ASULA', 'type': 'asula'})]])