In [1]:
from estnltk.taggers import DateTagger
from estnltk import Text

In [2]:
datetagger = DateTagger()

In [3]:
text = Text('''07.07.2011 14:25 - KOLK, REIN - D04946 - E170 - kardioloogia. 
Tuleb 28.05., enne KTG.
pt.-l 2007a.-l diagnoositud sügatõbi:',
'11.09.13. tehtud S.Rhesonatiivi 1250TÜ i/m',
'Eelmine kord 2009 ja diagnoosika jäi reaktiivne artropaatia',
            'haava revideerimine od kl 21.20',
' 17.09.2013.a. kell 06:09 sünnib elus ajaline T 3250/50.',
'Kontrolli 20.04.2013 kell 11.00 I-korrus, 
'Lõikus 4.1.2013.',
'Kontrollile- 09.2011'
"05.09.2012 tehtud SKG
1.09 angiograafia leid 
02.09 kell 09.15 taastus siinusrütm''')

In [4]:
datetagger.tag(text)
text['dates']

Layer(name=dates, spans=SL[Span(07.07.2011 14:25, {'date_text': '07.07.2011 14:25', 'extracted_values': datetime.datetime(2011, 7, 7, 14, 25), 'groups': "{'second': None, 'minute': '25', 'YEAR': '2011', 'MONTH': '07', 'hour': '14', 'DAY': '07'}", 'probability': '0.9', 'type': 'date_time'}),
Span(28.05, {'date_text': '28.05', 'extracted_values': None, 'groups': "{'MONTH': '05', 'DAY': '28'}", 'probability': '0.3', 'type': 'partial_date'}),
Span(2007a, {'date_text': '2007a', 'extracted_values': None, 'groups': "{'LONGYEAR': '2007'}", 'probability': '0.8', 'type': 'partial_date'}),
Span(11.09.13, {'date_text': '11.09.13', 'extracted_values': datetime.date(2013, 9, 11), 'groups': "{'DAY': '11', 'MONTH': '09', 'YEAR': '13'}", 'probability': '0.8', 'type': 'date'}),
Span(2009, {'date_text': '2009', 'extracted_values': None, 'groups': "{'LONGYEAR': '2009'}", 'probability': '0.4', 'type': 'partial_date'}),
Span(kl 21.20, {'date_text': 'kl 21.20', 'extracted_values': datetime.time(21, 20), 'groups': "{'second': None, 'minute': '20', 'hour': '21'}", 'probability': '1.0', 'type': 'time'}),
Span(17.09.2013.a. kell 06:09, {'date_text': '17.09.2013.a. kell 06:09', 'extracted_values': datetime.datetime(2013, 9, 17, 6, 9), 'groups': "{'second': None, 'minute': '09', 'YEAR': '2013', 'MONTH': '09', 'hour': '06', 'DAY': '17'}", 'probability': '1.0', 'type': 'date_time'}),
Span(20.04.2013 kell 11.00, {'date_text': '20.04.2013 kell 11.00', 'extracted_values': datetime.datetime(2013, 4, 20, 11, 0), 'groups': "{'second': None, 'minute': '00', 'YEAR': '2013', 'MONTH': '04', 'hour': '11', 'DAY': '20'}", 'probability': '1.0', 'type': 'date_time'}),
Span(4.1.2013, {'date_text': '4.1.2013', 'extracted_values': datetime.date(2013, 1, 4), 'groups': "{'DAY': '4', 'MONTH': '1', 'YEAR': '2013'}", 'probability': '0.8', 'type': 'date'}),
Span(09.2011, {'date_text': '09.2011', 'extracted_values': None, 'groups': "{'MONTH': '09', 'LONGYEAR': '2011'}", 'probability': '0.6', 'type': 'partial_date'}),
Span(05.09.2012, {'date_text': '05.09.2012', 'extracted_values': datetime.date(2012, 9, 5), 'groups': "{'DAY': '05', 'MONTH': '09', 'YEAR': '2012'}", 'probability': '0.8', 'type': 'date'}),
Span(1.09, {'date_text': '1.09', 'extracted_values': None, 'groups': "{'MONTH': '09', 'DAY': '1'}", 'probability': '0.3', 'type': 'partial_date'}),
Span(02.09 kell 09.15, {'date_text': '02.09 kell 09.15', 'extracted_values': datetime.time(9, 15), 'groups': "{'second': None, 'MONTH': '09', 'hour': '09', 'DAY': '02', 'minute': '15'}", 'probability': '0.8', 'type': 'partial_date'})])