## Using SyntaxIgnoreTagger in pre-processing for syntactic analysis

Some parts of a text may be difficult to analyse syntactically. For instance, enumerations of sports results, parenthesised references and short remarks usually consist of "very compactly packaged information", which exhibits only little linguistic syntactic structure. So, you may want to skip the syntactic analysis on such parts of the text.

In order to detect parts of text that should be ignored by the syntactic analysis, EstNLTK has a special tagger called SyntaxIgnoreTagger.

In [1]:
from estnltk.taggers.syntax_preprocessing.syntax_ignore_tagger import SyntaxIgnoreTagger
syntax_ignore_tagger = SyntaxIgnoreTagger()
syntax_ignore_tagger

SyntaxIgnoreTagger(allow_loose_match=True, ignore_brackets=True, ignore_consecutive_enum_ucase_num_sentences=True, ignore_consecutive_parenthesized_sentences=True, ignore_parenthesized_num=True, ignore_parenthesized_num_greedy=True, ignore_parenthesized_ref=True, ignore_parenthesized_short_char_sequences=True, ignore_parenthesized_title_words=True, ignore_sentences_consisting_of_numbers=True, ignore_sentences_starting_with_time=True, ignore_sentences_with_comma_separated_num_name_lists=True)

SyntaxIgnoreTagger requires that 'words' and 'sentences' have been annotated in text. It uses these layers to detect snippets of text (not necessarily full sentences) which should be ignored during the syntactic analysis. Detection patterns are partly based on the patterns used in pre-processing modules of EstSyntax, available [here](https://github.com/kristiinavaik/ettenten-eeltootlus) and [here](https://github.com/EstSyntax/preprocessing-module).

Similar detection patterns have been grouped together. Upon the initialization of the tagger, flags can be used to switch these groups off (by default, all flags have been switched on). In following, we will give a minute introduction on the flags, and types of ignorable text snippets the corresponding patterns aim to extract.

### Patterns for detecting ignore content inside sentences

#### Flag `ignore_brackets`

Content inside square brackets will be ignored.

In [2]:
# Create text and preprocess
from estnltk.text import Text
text = Text('Nurksulgudes tuuakse materjali viitekirje järjekorranumber kirjanduse loetelus ja leheküljed , nt [9: 5] või [9 lk 5], aga internetimaterjalil lihtsalt viitekirje, nt [7]')
text.tag_layer(['words', 'sentences'])

# Apply syntax_ignore_tagger
syntax_ignore_tagger = SyntaxIgnoreTagger(ignore_brackets=True)
syntax_ignore_tagger.tag(text)

# Examine results
text.syntax_ignore

SL[SL[Span([, {'normalized_form': None}),
Span(9, {'normalized_form': None}),
Span(:, {'normalized_form': None}),
Span(5, {'normalized_form': None}),
Span(], {'normalized_form': None})],
SL[Span([, {'normalized_form': None}),
Span(9, {'normalized_form': None}),
Span(lk, {'normalized_form': None}),
Span(5, {'normalized_form': None}),
Span(], {'normalized_form': None})],
SL[Span([, {'normalized_form': None}),
Span(7, {'normalized_form': None}),
Span(], {'normalized_form': None})]]

#### Flag `ignore_parenthesized_ref`

Parenthesized content which looks like a reference (e.g. contains titlecased words, and date information) will be ignored.

In [3]:
# Create text and preprocess
from estnltk.text import Text
text = Text('Tutvustamisele tulevad Jan Kausi romaan “Koju” (Tuum 2012) ning Ülo Pikkovi romaan “Vana prints” (Varrak 2012). Temaatikaga seondub veel teinegi äsja Postimehes ilmunud jutt (Priit Pullerits «Džiibi kaitseks», PM 30.07.2010).')
text.tag_layer(['words', 'sentences'])

# Apply syntax_ignore_tagger
syntax_ignore_tagger = SyntaxIgnoreTagger(ignore_parenthesized_ref=True)
syntax_ignore_tagger.tag(text)

# Examine results
text.syntax_ignore

SL[SL[Span((, {'normalized_form': None}),
Span(Tuum, {'normalized_form': None}),
Span(2012, {'normalized_form': None}),
Span(), {'normalized_form': None})],
SL[Span((, {'normalized_form': None}),
Span(Varrak, {'normalized_form': None}),
Span(2012, {'normalized_form': None}),
Span(), {'normalized_form': None})],
SL[Span((, {'normalized_form': None}),
Span(Priit, {'normalized_form': None}),
Span(Pullerits, {'normalized_form': None}),
Span(«, {'normalized_form': None}),
Span(Džiibi, {'normalized_form': None}),
Span(kaitseks, {'normalized_form': None}),
Span(»,, {'normalized_form': None}),
Span(PM, {'normalized_form': None}),
Span(30.07.2010, {'normalized_form': '30.07.2010'}),
Span(), {'normalized_form': None})]]

#### Flag `ignore_parenthesized_short_char_sequences`

Parenthesized short sequences of tokens (up to 4 tokens), each of which also has as short length (up to 4 characters), will be ignored.

In [4]:
# Create text and preprocess
from estnltk.text import Text
text = Text('Eesti judokate võistlus jäi laupäeval lühikeseks , nii Joel Rothberg ( -66 kg ) kui ka Renee Villemson ( -73 kg ) võidurõõmu maitsta ei saanud .')
text.tag_layer(['words', 'sentences'])

# Apply syntax_ignore_tagger
syntax_ignore_tagger = SyntaxIgnoreTagger(ignore_parenthesized_short_char_sequences=True)
syntax_ignore_tagger.tag(text)

# Examine results
text.syntax_ignore

SL[SL[Span((, {'normalized_form': None}),
Span(-66, {'normalized_form': '-66'}),
Span(kg, {'normalized_form': None}),
Span(), {'normalized_form': None})],
SL[Span((, {'normalized_form': None}),
Span(-73, {'normalized_form': '-73'}),
Span(kg, {'normalized_form': None}),
Span(), {'normalized_form': None})]]

#### Flag `ignore_parenthesized_title_words`

Parenthesized 1-2 titlecase words (which may be comma-separated) will be ignored.

In [5]:
# Create text and preprocess
from estnltk.text import Text
text = Text('Neidude 5 km klassikat võitis Lina Andersson ( Rootsi ) Pirjo Mannineni ( Soome ) ja Karin Holmbergi ( Rootsi ) ees .')
text.tag_layer(['words', 'sentences'])

# Apply syntax_ignore_tagger
syntax_ignore_tagger = SyntaxIgnoreTagger(ignore_parenthesized_title_words=True)
syntax_ignore_tagger.tag(text)

# Examine results
text.syntax_ignore

SL[SL[Span((, {'normalized_form': None}),
Span(Rootsi, {'normalized_form': None}),
Span(), {'normalized_form': None})],
SL[Span((, {'normalized_form': None}),
Span(Soome, {'normalized_form': None}),
Span(), {'normalized_form': None})],
SL[Span((, {'normalized_form': None}),
Span(Rootsi, {'normalized_form': None}),
Span(), {'normalized_form': None})]]

#### Flag `ignore_parenthesized_num`

Parenthesized numerics (such as dates, date ranges, number sequences) will be ignored.

In [6]:
# Create text and preprocess
from estnltk.text import Text
text = Text('Klubi sai kuus korda Inglismaa meistriks (1976, 1977, 1979, 1980, 1982, 1983). Tallinna ( 21.-22. mai ) , Haapsalu ( 2.-3. juuli ) ja Liivimaa ( 30.-31. juuli ) rallidel on vähemalt see probleem lahendatud .')
text.tag_layer(['words', 'sentences'])

# Apply syntax_ignore_tagger
syntax_ignore_tagger = SyntaxIgnoreTagger(ignore_parenthesized_num=True)
syntax_ignore_tagger.tag(text)

# Examine results
text.syntax_ignore

SL[SL[Span((, {'normalized_form': None}),
Span(1976, {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(1977, {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(1979, {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(1980, {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(1982, {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(1983, {'normalized_form': None}),
Span(), {'normalized_form': None})],
SL[Span((, {'normalized_form': None}),
Span(21., {'normalized_form': '21'}),
Span(-, {'normalized_form': None}),
Span(22., {'normalized_form': '22'}),
Span(mai, {'normalized_form': None}),
Span(), {'normalized_form': None})],
SL[Span((, {'normalized_form': None}),
Span(2., {'normalized_form': '2'}),
Span(-, {'normalized_form': None}),
Span(3., {'normalized_form': '3'}),
Span(juuli, {'normalized_form': None}),
Span(), {'normalized_form': None})],
SL[Span((, {'normalized_form': None}),
Span(30., {'normalized_form': '30'}),
Span(-, {'normalized_form': None}),
Span(31., {'normalized_form': '31'}),
Span(juuli, {'normalized_form': None}),
Span(), {'normalized_form': None})]]

#### Flag `ignore_parenthesized_num_greedy`

Applies greedy parenthesized numeric content detection patterns: if there is at least one number inside parentheses, but there cannot be found at least 3 consecutive lowercase words, then the whole content inside parentheses will be marked as to be ignored.

In [7]:
# Create text and preprocess
from estnltk.text import Text
text = Text('Näited: A (300 000 000 m/sek), B ( naised 5 km , mehed 7,5 km ) ning C (meie puhul 165/80) .')
text.tag_layer(['words', 'sentences'])

# Apply syntax_ignore_tagger
syntax_ignore_tagger = SyntaxIgnoreTagger(ignore_parenthesized_num_greedy=True)
syntax_ignore_tagger.tag(text)

# Examine results
text.syntax_ignore

SL[SL[Span((, {'normalized_form': None}),
Span(300 000 000, {'normalized_form': '300000000'}),
Span(m/sek, {'normalized_form': 'm/sek'}),
Span(), {'normalized_form': None})],
SL[Span((, {'normalized_form': None}),
Span(naised, {'normalized_form': None}),
Span(5, {'normalized_form': None}),
Span(km, {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(mehed, {'normalized_form': None}),
Span(7,5, {'normalized_form': '7,5'}),
Span(km, {'normalized_form': None}),
Span(), {'normalized_form': None})],
SL[Span((, {'normalized_form': None}),
Span(meie, {'normalized_form': None}),
Span(puhul, {'normalized_form': None}),
Span(165, {'normalized_form': None}),
Span(/, {'normalized_form': None}),
Span(80, {'normalized_form': None}),
Span(), {'normalized_form': None})]]

Note that this pattern group also covers content detected by some other `ignore_parenthesized_*` patterns. So, if you want to turn other patterns off, you may also want to turn off this pattern.

#### Flag `allow_loose_match`

If `True` (default setting), then an ignore text snippet may consume words without matching exactly with their boundaries (e.g. ignore snippet's start does not have to match word's start). If `False`, then an ignore text snippet must match exactly with word boundaries: it must start where a word starts, and end where a word ends.

### Patterns for ignoring full sentences

#### Flag  `ignore_sentences_starting_with_time`

Sentences starting with a date range (e.g. a time schedule of a seminar, or a TV program) will be ignored.

In [8]:
# Create text and preprocess
from estnltk.text import Text
text = Text('''
12.05 - 12.35 "Õnne 13" (1. osa)
12.35 - 13.05 "Õnne 13" (1. osa kordus)
13.05 - 13.35 "Õnne 13" (2. osa)
''')
text.tag_layer(['words', 'sentences'])

# Apply syntax_ignore_tagger
syntax_ignore_tagger = SyntaxIgnoreTagger(ignore_sentences_starting_with_time=True)
syntax_ignore_tagger.tag(text)

# Examine results
text.syntax_ignore

SL[SL[Span(12.05, {'normalized_form': '1205'}),
Span(-, {'normalized_form': None}),
Span(12.35, {'normalized_form': '1235'}),
Span(", {'normalized_form': None}),
Span(Õnne, {'normalized_form': None}),
Span(13, {'normalized_form': None}),
Span(", {'normalized_form': None}),
Span((, {'normalized_form': None}),
Span(1., {'normalized_form': '1'}),
Span(osa, {'normalized_form': None}),
Span(), {'normalized_form': None}),
Span(12.35, {'normalized_form': '1235'}),
Span(-, {'normalized_form': None}),
Span(13.05, {'normalized_form': '1305'}),
Span(", {'normalized_form': None}),
Span(Õnne, {'normalized_form': None}),
Span(13, {'normalized_form': None}),
Span(", {'normalized_form': None}),
Span((, {'normalized_form': None}),
Span(1., {'normalized_form': '1'}),
Span(osa, {'normalized_form': None}),
Span(kordus, {'normalized_form': None}),
Span(), {'normalized_form': None}),
Span(13.05, {'normalized_form': '1305'}),
Span(-, {'normalized_form': None}),
Span(13.35, {'normalized_form': '1335'}),
Span(", {'normalized_form': None}),
Span(Õnne, {'normalized_form': None}),
Span(13, {'normalized_form': None}),
Span(", {'normalized_form': None}),
Span((, {'normalized_form': None}),
Span(2., {'normalized_form': '2'}),
Span(osa, {'normalized_form': None}),
Span(), {'normalized_form': None})]]

#### Flag `ignore_sentences_with_comma_separated_num_name_lists`

Sentences containing comma separated list of titlecase words / numbers ( like sport results, player/country listings, game scores etc.) will be ignored.

In [9]:
# Create text and preprocess
from estnltk.text import Text
text = Text('''
Veerandfinaalid .
Lindsay Davenport ( 6 ) , USA-Jana Novotna ( 3 ) , Tšehhi 6 : 2 , 4 : 6 , 7 : 6 , Martina Hingis ( 1 ) , Šveits-Arantxa Sanchez Vicario ( 10 ) , Hispaania 6 : 3 , 6 : 2 .
Paarismängu veerandfinaalid .
Gigi Fernandez , USA/Nataša Zvereva , Valgevene- Alexandra Fusai/Nathalie Tauziat , Prantsusmaa 4 : 6 , 6 : 2 , 6 : 2 , Nicole Arendt , USA/Manon Bollegraf , Holland-Ruxandra Dragomir , Rumeenia/Iva Majoli , Horvaatia 6 : 3 , 3 : 6 , 6 : 4 .
''')
text.tag_layer(['words', 'sentences'])

# Apply syntax_ignore_tagger
syntax_ignore_tagger = SyntaxIgnoreTagger(ignore_sentences_with_comma_separated_num_name_lists=True)
syntax_ignore_tagger.tag(text)

# Examine results
text.syntax_ignore

SL[SL[Span(Lindsay, {'normalized_form': None}),
Span(Davenport, {'normalized_form': None}),
Span((, {'normalized_form': None}),
Span(6, {'normalized_form': None}),
Span(), {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(USA-Jana, {'normalized_form': None}),
Span(Novotna, {'normalized_form': None}),
Span((, {'normalized_form': None}),
Span(3, {'normalized_form': None}),
Span(), {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(Tšehhi, {'normalized_form': None}),
Span(6, {'normalized_form': None}),
Span(:, {'normalized_form': None}),
Span(2 , 4, {'normalized_form': '2,4'}),
Span(:, {'normalized_form': None}),
Span(6 , 7, {'normalized_form': '6,7'}),
Span(:, {'normalized_form': None}),
Span(6, {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(Martina, {'normalized_form': None}),
Span(Hingis, {'normalized_form': None}),
Span((, {'normalized_form': None}),
Span(1, {'normalized_form': None}),
Span(), {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(Šveits-Arantxa, {'normalized_form': None}),
Span(Sanchez, {'normalized_form': None}),
Span(Vicario, {'normalized_form': None}),
Span((, {'normalized_form': None}),
Span(10, {'normalized_form': None}),
Span(), {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(Hispaania, {'normalized_form': None}),
Span(6, {'normalized_form': None}),
Span(:, {'normalized_form': None}),
Span(3 , 6, {'normalized_form': '3,6'}),
Span(:, {'normalized_form': None}),
Span(2 ., {'normalized_form': '2'})],
SL[Span(Gigi, {'normalized_form': None}),
Span(Fernandez, {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(USA, {'normalized_form': None}),
Span(/, {'normalized_form': None}),
Span(Nataša, {'normalized_form': None}),
Span(Zvereva, {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(Valgevene-, {'normalized_form': 'Valgevene'}),
Span(Alexandra, {'normalized_form': None}),
Span(Fusai, {'normalized_form': None}),
Span(/, {'normalized_form': None}),
Span(Nathalie, {'normalized_form': None}),
Span(Tauziat, {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(Prantsusmaa, {'normalized_form': None}),
Span(4, {'normalized_form': None}),
Span(:, {'normalized_form': None}),
Span(6 , 6, {'normalized_form': '6,6'}),
Span(:, {'normalized_form': None}),
Span(2 , 6, {'normalized_form': '2,6'}),
Span(:, {'normalized_form': None}),
Span(2, {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(Nicole, {'normalized_form': None}),
Span(Arendt, {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(USA, {'normalized_form': None}),
Span(/, {'normalized_form': None}),
Span(Manon, {'normalized_form': None}),
Span(Bollegraf, {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(Holland-Ruxandra, {'normalized_form': None}),
Span(Dragomir, {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(Rumeenia, {'normalized_form': None}),
Span(/, {'normalized_form': None}),
Span(Iva, {'normalized_form': None}),
Span(Majoli, {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(Horvaatia, {'normalized_form': None}),
Span(6, {'normalized_form': None}),
Span(:, {'normalized_form': None}),
Span(3 , 3, {'normalized_form': '3,3'}),
Span(:, {'normalized_form': None}),
Span(6 , 6, {'normalized_form': '6,6'}),
Span(:, {'normalized_form': None}),
Span(4 ., {'normalized_form': '4'})]]

#### Flag  `ignore_sentences_consisting_of_numbers`

Detects sentences that only contain number or numbers, no letters, and do not end with '!' nor '?'.

### Patterns for ignoring groups of consecutive sentences

#### Flag  `ignore_consecutive_parenthesized_sentences `

If consecutive sentences all contain parenthesized content that is already ignored, and all of these sentences contain less than 3 consecutive lowercase words, then these sentences likely represent enumerations (e.g. sports results) which can be safely ignored.

In [10]:
# Create text and preprocess
from estnltk.text import Text
text = Text('''Eile õhtul sõidetud avakatsel sai Markko Märtin ( Subaru , pildil ) viienda aja .
Tulemused :
1. Tommi Mäkinen ( FIN ) Mitsubishi - 3.46 , 9
2. Marcus Grönholm ( FIN ) Peugeot +1,0
3. Harri Rovanperä ( FIN ) Peugeot +4,1
4. Carlos Sainz ( ESP ) Ford +6,0''')
text.tag_layer(['words', 'sentences'])

# Apply syntax_ignore_tagger
syntax_ignore_tagger = SyntaxIgnoreTagger(ignore_consecutive_parenthesized_sentences=True)
syntax_ignore_tagger.tag(text)

# Examine results
text.syntax_ignore

SL[SL[Span(Tulemused, {'normalized_form': None}),
Span(:, {'normalized_form': None}),
Span(1., {'normalized_form': '1'})],
SL[Span(Tommi, {'normalized_form': None}),
Span(Mäkinen, {'normalized_form': None}),
Span((, {'normalized_form': None}),
Span(FIN, {'normalized_form': None}),
Span(), {'normalized_form': None}),
Span(Mitsubishi, {'normalized_form': None}),
Span(-, {'normalized_form': None}),
Span(3.46 , 9, {'normalized_form': '346 , 9'}),
Span(2., {'normalized_form': '2'})],
SL[Span(Marcus, {'normalized_form': None}),
Span(Grönholm, {'normalized_form': None}),
Span((, {'normalized_form': None}),
Span(FIN, {'normalized_form': None}),
Span(), {'normalized_form': None}),
Span(Peugeot, {'normalized_form': None}),
Span(+1,0, {'normalized_form': '+1,0'}),
Span(3., {'normalized_form': '3'})],
SL[Span(Harri, {'normalized_form': None}),
Span(Rovanperä, {'normalized_form': None}),
Span((, {'normalized_form': None}),
Span(FIN, {'normalized_form': None}),
Span(), {'normalized_form': None}),
Span(Peugeot, {'normalized_form': None}),
Span(+4,1, {'normalized_form': '+4,1'}),
Span(4., {'normalized_form': '4'})],
SL[Span(Carlos, {'normalized_form': None}),
Span(Sainz, {'normalized_form': None}),
Span((, {'normalized_form': None}),
Span(ESP, {'normalized_form': None}),
Span(), {'normalized_form': None}),
Span(Ford, {'normalized_form': None}),
Span(+6,0, {'normalized_form': '+6,0'})]]

#### Flag  `ignore_consecutive_enum_ucase_num_sentences`

Detects sentences that: 1) start with an uppercase letter, or an ordinal number followed by an uppercase letter, or an ordinal number; 2) contain at least one number; 3) does not contain 3 consecutive lowercase words; 4) are a part of at least 4 consecutive sentences that have the same properties (1, 2 and 3).

In [11]:
# Create text and preprocess
from estnltk.text import Text
text = Text('''Maakonniti summeerides on tulumaksu laekumise viis esimest :
1. Harjumaa 2792 ,
2. Hiiumaa 2119 ,
3. Tartumaa 2081 ,
4. Läänemaa 1933 ,
5. Pärnumaa 1903.''')
text.tag_layer(['words', 'sentences'])

# Apply syntax_ignore_tagger
syntax_ignore_tagger = SyntaxIgnoreTagger(ignore_consecutive_enum_ucase_num_sentences=True)
syntax_ignore_tagger.tag(text)

# Examine results
text.syntax_ignore

SL[SL[Span(Harjumaa, {'normalized_form': None}),
Span(2792, {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(2., {'normalized_form': '2'})],
SL[Span(Hiiumaa, {'normalized_form': None}),
Span(2119, {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(3., {'normalized_form': '3'})],
SL[Span(Tartumaa, {'normalized_form': None}),
Span(2081, {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(4., {'normalized_form': '4'})],
SL[Span(Läänemaa, {'normalized_form': None}),
Span(1933, {'normalized_form': None}),
Span(,, {'normalized_form': None}),
Span(5., {'normalized_form': '5'})],
SL[Span(Pärnumaa, {'normalized_form': None}),
Span(1903., {'normalized_form': '1903'})]]

## Integration with the syntactic analysis pre-processing module

Integration with the syntactic analysis pre-processing module is yet to be implemented.