In [1]:
from estnltk.text import Layer, Text

In [2]:
t = Text('''Kui Arno isaga koolimajja jõudis, olid tunnid juba alanud. 
Kooliõpetaja kutsus mõlemad oma tuppa, kõneles nendega natuke aega, 
käskis Arnol olla hoolas ja korralik ja seadis ta siis pinki ühe pikkade juustega poisi kõrvale istuma.''')
t.analyse('segmentation')

Text(text="Kui Arno isaga koolimajja jõudis, olid tunnid juba alanud.
Kooliõpetaja kutsus mõlemad oma tuppa, kõneles nendega natuke aega,
käskis Arnol olla hoolas ja korralik ja seadis ta siis pinki ühe pikkade juustega poisi kõrvale istuma.")

In [3]:
t.text #tekst ise //string
t.words.text #sõnade teks //  list of strings
t.sentences.text #lausete tekst sõnahaaval //list of lists of strings
None

In [4]:
#Näide uue kihi loomise kohta 
dep = Layer(name='uppercase', #uue kihi nimi
            parent='words',   #kihi nime, millega uue kihi elemendid on seotud
            attributes=['upper', 'reverse'] #nimekiri uue kihi atribuutidest
            )
t['uppercase'] = dep #lisame kihi tekstiobjektile 
#NB! Ühele tekstiobjektile ei saa kaks korda sama nimega kihti lisada

In [5]:
for word in t.words:
    #anname igale sõnale atribuudi
    m = word.mark('uppercase')
    m.upper = word.text.upper()
    m.reverse = word.upper[::-1]

In [6]:
t.uppercase.upper #list of strings
t.uppercase.reverse #list of strings
t.sentences.uppercase.upper #list of lists of strings
t.sentences.uppercase.reverse #list of lists of strings
;

''

In [7]:
for word in t.words[:11]:
    print(word.upper, word.reverse)

KUI IUK
ARNO ONRA
ISAGA AGASI
KOOLIMAJJA AJJAMILOOK
JÕUDIS SIDUÕJ
, ,
OLID DILO
TUNNID DINNUT
JUBA ABUJ
ALANUD DUNALA
. .

In [8]:
t.words.uppercase.upper[:11]

['KUI',
 'ARNO',
 'ISAGA',
 'KOOLIMAJJA',
 'JÕUDIS',
 ',',
 'OLID',
 'TUNNID',
 'JUBA',
 'ALANUD',
 '.']

In [9]:
t.uppercase[:11]

SL[Span(Kui, {'reverse': 'IUK', 'upper': 'KUI'}),
Span(Arno, {'reverse': 'ONRA', 'upper': 'ARNO'}),
Span(isaga, {'reverse': 'AGASI', 'upper': 'ISAGA'}),
Span(koolimajja, {'reverse': 'AJJAMILOOK', 'upper': 'KOOLIMAJJA'}),
Span(jõudis, {'reverse': 'SIDUÕJ', 'upper': 'JÕUDIS'}),
Span(,, {'reverse': ',', 'upper': ','}),
Span(olid, {'reverse': 'DILO', 'upper': 'OLID'}),
Span(tunnid, {'reverse': 'DINNUT', 'upper': 'TUNNID'}),
Span(juba, {'reverse': 'ABUJ', 'upper': 'JUBA'}),
Span(alanud, {'reverse': 'DUNALA', 'upper': 'ALANUD'}),
Span(., {'reverse': '.', 'upper': '.'})]

In [10]:
from estnltk.resolve_layer_dag import DEFAULT_RESOLVER
DEFAULT_RESOLVER.taggers