# Text segmentation
## Taggers
The following taggers are involved with the text segmentation.
### TokensTagger
Uses nltk WordPunctTokenizer to tokenize raw text. Creates tokens layer.

In [1]:
from estnltk.taggers import TokensTagger
tokens_tagger = TokensTagger()
tokens_tagger

In [2]:
from estnltk import Text
T = '''Aadressilt bla@bla.ee tuli 10 000 kirja. Kirjad, st. spamm saabus 10 tunni jooksul.

A. H. Tammsaare 1935. aatal: 1,0 m / s = 3, 67 km/h.'''
text = Text(T)
tokens_tagger.tag(text)
text['tokens']

### CompounTokenTagger

In [3]:
from estnltk.taggers import CompoundTokenTagger
compound_token_tagger = CompoundTokenTagger()
compound_token_tagger

In [4]:
compound_token_tagger.tag(text)
text['compound_tokens']

### WordTagger

In [5]:
from estnltk.taggers import WordTagger
word_tagger = WordTagger()
word_tagger

In [6]:
word_tagger.tag(text)
text['words']

### SentenceTokenizer

In [7]:
from estnltk.taggers import SentenceTokenizer
sentence_tokenizer = SentenceTokenizer()
sentence_tokenizer

In [8]:
sentence_tokenizer.tag(text)
text['sentences']

In [9]:
t = '''Aadressilt bla@bla.ee tuli 10 000 kirja, st. spammi aadressile foo@foo.ee 10 tunni jooksul 2017. aastal. \
A. H. Tammsaare: 1,0 m / s = 3, 67 km/h.'''

In [10]:
from estnltk.taggers import ParagraphTokenizer
paragraph_tokenizer = ParagraphTokenizer()
paragraph_tokenizer

In [11]:
paragraph_tokenizer.tag(text)
text['paragraphs']

In [12]:
text

Text(text="Aadressilt bla@bla.ee tuli 10 000 kirja. Kirjad, st. spamm saabus 10 tunni jooksul.

A. H. Tammsaare 1935. aatal: 1,0 m / s = 3, 67 km/h.")

# tag_layer
All above is equivalent to

In [13]:
Text(T).tag_layer(['paragraphs'])

Text(text="Aadressilt bla@bla.ee tuli 10 000 kirja. Kirjad, st. spamm saabus 10 tunni jooksul.

A. H. Tammsaare 1935. aatal: 1,0 m / s = 3, 67 km/h.")

# analyse
One can also write

In [14]:
Text(T).analyse('segmentation')

Text(text="Aadressilt bla@bla.ee tuli 10 000 kirja. Kirjad, st. spamm saabus 10 tunni jooksul.

A. H. Tammsaare 1935. aatal: 1,0 m / s = 3, 67 km/h.")

Here auxiliary layers are deleted.

# Word tokenization

In [15]:
from estnltk import Text

t = '''Aadressilt bla@bla.ee tuli 10 000 kirja, st. spammi aadressile foo@foo.ee 10 tunni jooksul 2017. aastal. \
A. H. Tammsaare: 1,0 m / s = 3, 67 km/h.'''
t

'Aadressilt bla@bla.ee tuli 10 000 kirja, st. spammi aadressile foo@foo.ee 10 tunni jooksul 2017. aastal. A. H. Tammsaare: 1,0 m / s = 3, 67 km/h.'

In [16]:
text = Text(t)
text.tag_layer(['words'])
text['words']